:root{
    --bg : #0F172A;
    --txt : #E2E8F0;
    --borderlines: #1E293B;
    --x-marker:#FF006E;
    --o-marker:#00F5D4;
    --cell-hover: rgba(255,255,255,0.06);
    --winner-msg:#80FF00;
    --draw-msg:#F1C40F;
    --btn:#00F2A1;
    --btn-hover:#0AFFD9;
}

body{
    background-color: var(--bg);
    color: var(--txt);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.board{
    display: grid;
    border: 4px solid var(--borderlines);
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

.left-cell{
    border-right: 3px solid var(--borderlines);
}

.right-cell{
    border-left: 3px solid var(--borderlines);
}

.top-cell{
    border-bottom: 3px solid var(--borderlines);
}

.bottom-cell{
    border-top: 3px solid var(--borderlines);
}

.cell:hover{
    background-color: var(--cell-hover);
}

.btn{
    border:none;
    background-color: var(--btn);
    color: var(--bg);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
}

.btn:hover{
    background-color: var(--btn-hover);
}

.playerX{
    color: var(--x-marker);
}

.playerO{
    color: var(--o-marker);
}