@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron-Regular.woff2') format('woff2'),
        url('fonts/Orbitron-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --bg: #0F172A;
    --txt: #E2E8F0;
    --borderlines: #1E293B;
    --x-marker: #FF006E;
    --o-marker: #00F5D4;
    --cell-hover: rgba(255, 255, 255, 0.06);
    --winner-msg: #80FF00;
    --draw-msg: #F1C40F;
    --btn: #00F2A1;
    --btn-hover: #0AFFD9;
}

body {
    background-color: var(--bg);
    color: var(--txt);

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: Orbitron, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container > h1{
    color: var(--btn);
    letter-spacing: 2px;
}

.board {
    display: grid;
    border: 4px solid var(--borderlines);
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

.left-cell {
    border-right: 3px solid var(--borderlines);
}

.right-cell {
    border-left: 3px solid var(--borderlines);
}

.top-cell {
    border-bottom: 3px solid var(--borderlines);
}

.bottom-cell {
    border-top: 3px solid var(--borderlines);
}

.cell:hover {
    background-color: var(--cell-hover);
}

.btn {
    border: none;
    font-family: Orbitron, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--btn);
    color: var(--bg);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.playerX {
    color: var(--x-marker);
}

.playerO {
    color: var(--o-marker);
}

.winner-msg {
    font-size: 25px;
    letter-spacing: 3px;
    color: var(--winner-msg);
}

.draw-msg {
    font-size: 25px;
    letter-spacing: 3px;
    color: var(--draw-msg);
}

.hidden {
    display: none;
}

.players {
    width: 300px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
}

#player1>label,
#player2>label {
    font-size: 20px;
    color: var(--txt);
    font-weight: 600;
    letter-spacing: 3px;
}


#player1>input,
#player2>input {
    width: 95%;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--borderlines);
    color: var(--bg);
    letter-spacing: 3px;
    font-family: Orbitron, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#player1>input:focus,
#player2>input:focus {
    border-color: var(--btn);
    border-width: 5px;
    outline: none;
}

#startBtn{
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
}

.game-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.playersName{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid var(--borderlines);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

#player1X{
    width: 50%;
    text-align: center;
}

#player2O{
    width: 50%;
    text-align: center;
    
}

.player1X{
    background-color: var(--x-marker);
    color: var(--bg);
    width: 100%;
    border-radius: 5px;
}

.player2O{
    background-color: var(--o-marker);
    color: var(--bg);
    width: 100%;
    border-radius: 5px;
}


.no-current-player{
    background-color: var(--bg);
    color: var(--txt);
    width: 100%;
}