.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.board{
    display: grid;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

.left-cell{
    border-right: 1px solid red;
}

.right-cell{
    border-left: 1px solid red;
}

.top-cell{
    border-bottom: 1px solid red;
}

.bottom-cell{
    border-top: 1px solid red ;
}